<h1>rails ujs</h1>

<%= form_with(url: home_index_path, method: :get, data: {confirm: 'enviar datos'}) do |f| %>
    <%= f.text_field :q %>

    <%= f.submit 'Enviar', data: {disable_with: 'enviando...'}%>
<% end %>

<div id="params">
</div>
